@charset "UTF-8";
    body {
        background-color: lightsteelblue;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    h1 {
        color: rgb(8, 8, 12);
        background-color: rgb(167, 186, 193);
    }
    h2{
        color: rgb(110, 186, 33);

    }
    p{
        text-align: justify;
    }
