.slideshow-container {
    position: relative;
    max-width: 100%;
}

.slide {
    display: none;
}

img {
    width: 100%;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.slideshow-container {
    position: relative;
    width: 100%;
    max-height: 10000px;
    border: 2px solid #fdfdfd;
    overflow: hidden;
}

  body {
      background-color: #e2e2e2; 
  }
  h1 {
      font-size: 32px;
      color: #F2A20C;
      font-family: 'Open Sans', sans-serif;
  }
  h2 {
      font-size: 24px;
  }
  h3 {
      font-size: 20px;
  }

header {
    background-color: #ffffff;
    color: #000000;
}

main {
    background-color: #ffffff;
    color: #000000;
}

.footer {
    background-color: #949494;
    color: #fff;
    padding: 10px;
}

.imagem-esquerda {
    float: left;
    margin-right: 20px;
}

h1 {
    font-family: 'OpenSans', sans-serif;
  }

.fotoloja {
    width: 1px;
    height: 1px;
}

@font-face {
    font-family: 'MinhaFonte';
    src: url('OpenSans-ExtraBold.ttf') format('ttf'),
         url('OpenSans-ExtraBoldItalic.ttf') format('ttf');
  }
  
  h1 {
    font-family: 'Open Sans', sans-serif;
  }

  @font-face {
    font-family: 'MinhaFonte';
    src: url('Louis\ George\ Cafe.ttf') format('ttf'),
         url('Louis\ George\ Cafe\ Bold\ Italic.ttf') format('ttf');
  }
  
  h2 {
    font-family: 'Louis George', sans-serif;
  }

/* Estilos específicos para esta página */
.principal {
    padding: 30px; /* Adicionando padding à tela */
}

/* Adicione este estilo para limitar a largura máxima dos produtos */
.produto {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    height: auto;
}


.produto img {
    max-width: 100%;
    height: auto;
    
}

h1 {
    font-size: 32px;
    text-align: center;
    margin: 20px 0;
}

h2 {
    font-size: 24px;
    margin: 10px 0;
}

p {
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.6;
}

.preco {
    font-weight: bold;
    color: #333;
}

.botao-comprar {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.botao-comprar:hover {
    background-color: #000;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.logo {
    width: 150px;
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    margin: 20px 0;
    color: #333;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}

strong {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.banner-contato {
    text-align: center;
    margin-top: 20px;
}

.banner-contato img {
    max-width: 100%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.produto {
    margin: 10px;
    border: 5px solid rgb(0, 0, 0);
    padding: 20px;
    background-color: #ffffff;
    margin-bottom: 20px;
    max-width: 300px; /* Ajuste o valor conforme necessário */
    height: auto;
}