body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #555;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

main {
    padding: 20px;
}

.hero {
    background-color: #f2f2f2;
    padding: 50px;
    text-align: center;
}

.services {
    margin-top: 50px;
    padding: 20px;
}

.services ul {
    list-style: none;
    padding: 0;
}

.services li {
    margin-bottom: 10px;
}

.portfolio {
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* ... (seus estilos existentes) */

.project {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    flex-basis: calc(33.33% - 30px);
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.project:hover {
    transform: translateY(-5px);
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project img:hover {
    transform: scale(1.05);
}


.hidden {
    display: none;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
