body {
    background-color: darkblue;
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    border: 0px groove rgb(0, 0, 0);
    font-weight: 100;
    text-align: center;
    border-radius: 5%;
    background: black;
    margin: 0;
    padding: 7px;
}
p {
    padding-left: 5px;
}
.back {
    position: relative;
    height: 400px;
    background-color: black;
    background-image: url("img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0; /* AQUI ESTÁ O AJUSTE: MARGEM DEFINIDA COMO 0 */
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    font-size: 4vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 80%;
}

a {
    color: rgb(255, 255, 255);
}

.botao {
    margin-left: 35%;
    background-color: black;
    color: aliceblue;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
