body {
    margin: 0;
    padding: 0;
    background-color: darkblue; /* Cor de fundo */
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0px groove rgb(0, 0, 0);
    font-weight: 100;
    text-align: center;
    border-radius: 5%;
    background: black;
    margin: 0;
    padding: 7px;
}
p {
    padding-left: 25px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none; /* Remover o sublinhado do link */
    font-family: 'Roboto', sans-serif;
}

.back {
    position: relative;
    height: 400px;
    background-image: url("img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0; /* AQUI ESTÁ O AJUSTE: MARGEM DEFINIDA COMO 0 */
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    font-size: 4vw;
    text-align: center;
    width: 80%;
}

.conteudo {
    /* Estilos do seu conteúdo principal */
    padding: 20px;
}

.botao {
    margin-left: 35%;
    margin-top: 20px; /* Adicione uma margem superior para criar espaço entre o botão e o rodapé */
    background-color: black;
    color: aliceblue;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.rodape {
    background-color: black;
    color: white;
    padding: 50px 0;
    text-align: center;
    margin-top: 20px; /* Adicione uma margem superior para criar espaço entre o rodapé e o botão */
}
a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none; /* Garantir que o sublinhado não apareça no hover */
}
.botao:hover {
    background-color: blue;
}
.contatos {
    font-family: 'Roboto', sans-serif;
}
.outras-informacoes {
    font-family: 'Roboto', sans-serif;
